body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: #d9f7e7;
}

.alert {
    background-color: #ff3d3d;
    margin: 50px;
    text-align: center;
    border-radius: 10px;
}

.appBody {
    margin-top: 150px;
    margin-bottom: 50px;
}

form {
    text-align: center;
    background-color: #a3c3ff;
    width: 60%;
    height: 250px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #4480ed;
  border-radius: 4px;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

