body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #c92e2e;
    margin: 50px;
    text-align: center;
    border-radius: 10px;
}

form {
    text-align: center;
    background-color: #dbd5d5;
    width: 60%;
    height: 250px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

