.header-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #5cf56d;
    padding-left: 10px;
}

.header-welcome {
  text-align: center;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  z-index: 1;
  height: 150px;
  background-image: url('../../images/ships1.jpg');
  background-size: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  /* background-color: seagreen; */
}
